# myapp/.github/workflows/deploy.yml
name: deploy

on:
  push:
    branches: [main]

permissions:
  contents: read
  packages: write

jobs:
  deploy:
    uses: theoryzhenkov/.github/.github/workflows/deploy-docker.yml@main
    with:
      app_name: myapp